@model Account
@{
    ViewData["Title"] = "Account";
}
@* <div class="text-center"> *@
@if(Model.AccountType == "S")
{
    <h1 class="display-4 mb-4 pb-3 border-bottom">Account Number @Model.AccountNumber (Savings)</h1>
}
else if(Model.AccountType == "C")
{
    <h1 class="display-4 mb-4 pb-3 border-bottom">Account Number @Model.AccountNumber (Checking)</h1>
}
@* </div> *@

<div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Balance: @($"{Model.Balance:C}")</h3>
    <a class="btn btn-lg btn-outline-primary" asp-controller="Customer" asp-action="Index">Back to accounts</a>
</div>


<div class="d-grid gap-2 col-4 mx-auto mt-5">
    <a class="btn btn-lg btn-primary mb-2" asp-controller="Deposit" asp-action="Index" asp-route-id="@Model.AccountNumber">Deposit</a>
    <a class="btn btn-lg btn-primary mb-2" asp-controller="Withdraw" asp-action="Index" asp-route-id="@Model.AccountNumber">Withdraw</a>
    <a class="btn btn-lg btn-primary mb-2" asp-controller="Transfer" asp-action="Index" asp-route-id="@Model.AccountNumber">Transfer</a>
    <a class="btn btn-lg btn-primary mb-2" asp-controller="Statements" asp-action="Index" asp-route-id="@Model.AccountNumber">View Statements</a>
</div>


